.loading
  flex: 1
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.wrapper
  display: flex
  flex-direction: column
  flex: 1
  overflow: hidden

  .artistWrapper
    display: flex
    @media (orientation: portrait)
      flex-direction: column
      overflow: auto

    @media (orientation: landscape)
      flex: 1
      overflow: hidden

    .artistInfo
      display: flex
      flex-direction: column
      border: 0 solid rgb(50, 50, 50)
      border-right-width: 1px
      @media (orientation: landscape)
        overflow: auto
        width: 18em

      padding: 2em 2em 0 2em

      & > *
        flex-shrink: 0

      .thumbWrapper
        align-self: center
        width: 18em
        height: 18em
        border-radius: 2px
        overflow: hidden
        margin-bottom: 2em

        .thumb, .placeholder
          width: 18em
          height: 18em

        .thumb
          position: relative
          top: -18em

        .placeholder
          background-color: rgb(30, 30, 30)
          display: flex
          justify-content: center
          align-items: center
          color: rgb(50, 50, 50)

          & > * // icon
            width: 70%
            height: 70%

    .musicWrapper
      padding: 0
      display: flex
      flex-direction: column

      //@media (orientation: portrait)

      @media (orientation: landscape)
        overflow: auto
        flex: 3

      & > *
        flex: 0 0 auto

      .head
        margin: 2em 2em 0 2em
        h2
          margin: 0
          padding: 0

      .albumsWrapper
        display: flex
        flex-wrap: wrap
        align-items: flex-start
        align-content: flex-start
        justify-content: space-between
        padding: 1em

        .placeholder
          visibility: hidden
          width: 12em
          margin: 0 1em 0 1em

        .albumWrapper
          display: flex
          flex-direction: column

          width: 12em

          border-radius: 0.2em
          overflow: hidden

          margin: 1em

          .cover
            height: 12em
            width: 12em

          .title, .year
            background-color: rgb(50, 50, 50)

          .title
            text-overflow: ellipsis
            overflow: hidden
            white-space: nowrap
            padding: 0.35em 0.35em 0
            font-size: 0.8em

          .year
            padding: 0 0.35em 0.35em
            font-size: 0.85em
            color: rgb(130, 130, 130)