.wrapper
  overflow: hidden
  flex: 1
  display: flex
  flex-direction: column

  .head
    padding: 2em 2em 1em 2em
    display: flex
    flex-shrink: 0

    .spacer
      flex: 1

    .closeButtonWrapper
      display: flex
      align-items: center
      justify-content: center

      .closeButton
        width: 2em
        height: 2em
        color: #404040

        &:hover
          color: #606060
          cursor: pointer

  .downloadList
    flex: 1
    overflow: auto
    display: flex
    flex-direction: column
    @media (orientation: landscape)
      padding: 1em 2em 0 2em

    & > *
      flex-shrink: 0

    .listItem
      display: flex
      align-items: center
      @media (orientation: portrait)
        padding: 1em
      @media (orientation: landscape)
        padding: 0.5em
      overflow: hidden
      background-color: rgb(40, 40, 40)

      &:nth-child(even)
        background-color: rgb(30, 30, 30)

      .artist
        display: flex
        align-items: center
        flex: 1
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden

        .icon
          margin-right: 0.5em

      .album
        display: flex
        align-items: center
        flex: 1
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden

        .icon
          margin-right: 0.5em

      .track
        display: flex
        flex: 1
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden

      .label:hover
        text-decoration: underline
        cursor: pointer

      .size
        width: 5em
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        margin-right: 1em

      .status
        width: 1.5em
        margin-right: 1em
        display: flex
        justify-content: center
        align-items: center

        .progress > path
          fill: #ccc

      .delete
        width: 1em
        height: 1em
        color: #606060
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center

        &:hover
          color: inherit


